* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(#249687 0px,#249687 15vh,#DADBD4 15vh, #DADBD4 100%);
    overflow: hidden;
}

.d-flex {
    display: flex;
}

.container {
    margin: auto;
    width: 80%;
    height: 95%;
}

.container .left-col {
    width: 35%;
    border-right: 1px solid rgb(172, 172, 172);
}

.container .header-left-col {
    background-color: #EAEAEA;
    justify-content: space-between;
    height: 75px;
}

.container .header-user {
    align-items: center;
    padding-left: 1em;
}

.container .header-left-col .header-user img {
    height: 60px;
    border-radius: 100%;
    cursor: pointer;
}

.container .header-left-col .header-user h2 {
    font-size: 0.9em;
    padding-left: 0.5em;
    cursor: pointer;
}

.container .header-left-col i {
    color: #B1B1B1;
    padding-right: 1em;
    font-size: 1.3em;
    cursor: pointer;
}

.container .header-icons {
    align-items: center;
}

.container .notify-left-col {
    background-color: #8EDAFC;
    height: 80px;
    align-items: center;
}

.container .notify-left-col .notify-logo {
    margin-left: 1.5em;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 100%;
    align-items: center;
    justify-content: center;

}

.container .notify-left-col i {
    font-size: 1.2em;
    color: #8EDAFC;
}

.container .notify-left-col .notify-msg {
    padding-left: 0.5em;
    flex-direction: column;
}

.container .notify-left-col .notify-msg .msg-header {
    font-weight: 600;
    font-size: 0.9em;
}

.container .notify-left-col .notify-msg .msg {
    font-size: 0.8em;
    text-decoration: underline;
    color: rgb(107, 107, 107);
    cursor: pointer;
}

.container .search-left-col {
    height: 50px;
    background-color: #F7F7F7;
    align-items: center;
    padding: 0.5em;
}

.container .search-left-col .label-search {
    width: 10%;
    height: 100%;
    background-color: white;
    border: 1px solid rgb(209, 209, 209);
    border-right: 0;
    align-items: center;
    padding-left: 1em;
    color: rgb(187, 187, 187);
}

.container .search-left-col .input-search {
    width: 90%;
    height: 100%;
    background-color: white;
    border: 1px solid rgb(209, 209, 209);
    border-left: 0;
    outline: none;
    padding-left: 1em;
}

.container .search-left-col .input-search::placeholder {
    color: rgb(187, 187, 187);
}

.container .contact-list {
    background-color: #FFFFFF;
    height: calc(100% - 75px - 80px - 50px);
    overflow-y: auto;
}

.container .contact {
    height: 70px;
    align-items: center;
    padding-left: 1em;
    border-bottom: 1px solid #EAEAEA;
}

.container .contact:last-child {
    border-bottom: 0;
}

.container .contact img {
    height: 60px;
    border-radius: 100%;
    cursor: pointer;
}

.container .contact .contact-info {
    flex-direction: column;
    width: 100%;
    padding: 0 0.8em;
}

.container .contact .contact-info .contact-namedata {
    justify-content: space-between;
}

.container .contact .contact-info span.name {
    font-size: 1em;
    color: black;
}

.container .contact .contact-info span {
    font-size: 0.7em;
    color: #B1B1B1;
}

