<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body class="d-flex">
    <div class="container d-flex" id="app">
        <div class="left-col">
            <div class="header d-flex">
                <div class="header-user d-flex">
                    <img src="img/avatar_io.jpg" alt="">
                    <h2>Sara</h2>
                </div>
                <div class="header-icons d-flex">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="notify-left-col d-flex">
                <div class="notify-logo d-flex">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div class="notify-msg d-flex">
                    <span class="msg-header">Ricevi notifiche di nuovi messaggi</span>
                    <span class="msg">Attiva notifiche desktop</span>
                </div>
            </div>
            <div class="search-left-col d-flex">
                <label for="search" class="label-search d-flex">
                    <i class="fa fa-search"></i>
                </label>
                <input type="text" placeholder="Cerca o inizia una nuova chat" name="search" class="input-search">
            </div>
            <div class="contact-list">
                <div @click="counter = index" v-for="(contact, index) in contacts" class="contact d-flex" :class="(counter == index) ? 'active' : ''">
                    <div class="contact-logo d-flex">
                        <img :src="`img/avatar${contact.avatar}.jpg`" :alt="contact.name">
                    </div>
                    <div class="contact-info d-flex">
                        <div class="contact-namedata d-flex">
                            <span class="name">{{contact.name}}</span>
                            <span>{{getLastDate(index)}}</span>
                        </div>
                        <div class="contact-msg">
                            <span>{{getLastMsg(index)}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-col">
            <div class="header d-flex">
                <div class="header-user d-flex">
                    <img :src="`img/avatar${contacts[counter].avatar}.jpg`" alt="">
                    <div class="info d-flex">
                        <span class="name">{{contacts[counter].name}}</span>
                        <span>Ultimo accesso oggi alle {{getLastDate(counter)}}</span>
                    </div>
                </div>
                <div class="header-icons d-flex">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="main-content d-flex">
                <div v-for="(message, index) in contacts[counter].messages" class="message d-flex" :class="(message.status == 'sent') ? 'sent' : 'received'">
                    <span class="text-message">{{message.text}}</span>
                    <span class="date-message">{{message.date}}</span>
                </div>
            </div>
            <div class="bottom-container d-flex">
                <i class="far fa-smile"></i>
                <input class="input-message" type="text" placeholder="Scrivi un messaggio">
                <i class="fas fa-microphone"></i>
            </div>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>